<!DOCTYPE html>
<html lang='es'>
<head>
	<meta charset="utf-8">
	<title>Tarea Flask</title>
</head>
<body style='background-color: black;'>
    <h1 style="color: rgb(163, 0, 0);">Carlos Rivero</h1>
    <h2 style="color: rgb(163, 0, 0);"><i>Enlaces</i></h2>
    <section style="color: rgb(163, 0, 0);">
        <ol>
            <li><a href="/potencia" style="color: rgb(163, 0, 0);">Potencia</a></li>
            <li><a href="/cuenta" style="color: rgb(163, 0, 0);">Cuenta letras</a></li>
            <li><a href="/libro" style="color: rgb(163, 0, 0);">Libros</a></li>
        </ol>
    </section>
</body>
</html>