<!DOCTYPE html>
<html lang='es'>
<head>
	<meta charset="utf-8">
	<title>Biblioteca</title>
</head>
<body style='background-color: black;'>
    <h1 style="color: rgb(163, 0, 0);">Libro</h1>
    <section style="color: rgb(163, 0, 0);">
        <h1>Libro</h1>
        <p><strong>Codigo</strong>: <i>{{c}}</i></p>
        <p><strong>Nombre</strong>: <i>{{l}}</i></p>
        <p><strong>Autor</strong>: <i>{{a}}</i></p>
    </section>
    <a href="/" style="color: rgb(163, 0, 0);">Volver</a>
</body>
</html>